<div class="workflow-admin-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Workflow Administration</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-tab-group [(selectedIndex)]="selectedTab" animationDuration="300ms">
        <mat-tab label="Workflow Editor">
          <div class="tab-content">
            <div class="workflow-selector">
              <mat-button-toggle-group (change)="onCaseTypeChange($event.value)" [value]="workflow?.caseType">
                <mat-button-toggle [value]="CaseType.DOSSIER">Dossier Workflow</mat-button-toggle>
                <mat-button-toggle [value]="CaseType.ANNONCE">Annonce Workflow</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            
            <app-workflow-editor *ngIf="workflow"></app-workflow-editor>
            
            <div class="actions">
              <button mat-raised-button color="primary" (click)="onSaveWorkflow()">
                <mat-icon>save</mat-icon>
                Save Workflow
              </button>
            </div>
          </div>
        </mat-tab>
        
        <mat-tab label="Preview">
          <div class="tab-content">
            <app-workflow-preview *ngIf="workflow" [workflow]="workflow"></app-workflow-preview>
          </div>
        </mat-tab>

        <mat-tab label="WhatsApp Templates">
          <div class="tab-content">
            <p class="tab-description">
              Manage WhatsApp message templates for your organization. Templates must be approved by WhatsApp before they can be used.
            </p>
            <button mat-raised-button color="primary" routerLink="/workflow-admin/templates">
              <mat-icon>message</mat-icon>
              Manage Templates
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
