:host {
  display: inline-flex;
  vertical-align: middle;
}

.app-badge-status__icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  flex-shrink: 0;
}

.app-badge-status__label {
  line-height: 1;
}
