<div class="virtual-scroll-container">
  <cdk-virtual-scroll-viewport 
    [itemSize]="itemHeight" 
    class="virtual-scroll-viewport"
    (scrolledIndexChange)="onScrollEnd()">
    
    <!-- Empty state -->
    <ng-container *ngIf="!loading && items.length === 0">
      <ng-container *ngIf="emptyTemplate; else defaultEmpty">
        <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultEmpty>
        <div class="empty-state">
          <p>Aucun élément à afficher</p>
        </div>
      </ng-template>
    </ng-container>

    <!-- Items -->
    <div 
      *cdkVirtualFor="let item of items; trackBy: trackByItem; templateCacheSize: 0"
      class="virtual-scroll-item"
      role="button"
      tabindex="0"
      (click)="itemClick.emit(item)"
      (keydown.enter)="itemClick.emit(item)"
      (keydown.space)="$event.preventDefault(); itemClick.emit(item)">
      <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
    </div>

    <!-- Loading state -->
    <div *ngIf="loading" class="loading-state">
      <ng-container *ngIf="loadingTemplate; else defaultLoading">
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultLoading>
        <app-loading-skeleton variant="list" [rows]="3"></app-loading-skeleton>
      </ng-template>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
