spring:
  application:
    name: backend
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${OAUTH2_ISSUER_URI:http://localhost:8080/realms/myrealm}
  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    from: ${MAIL_FROM:noreply@example.com}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:false}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS:false}
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
  spring:
  elasticsearch:
    enabled: ${ELASTICSEARCH_ENABLED:false}
    uris: ${ELASTICSEARCH_URIS:http://localhost:9200}
    username: ${ELASTICSEARCH_USERNAME:}
    password: ${ELASTICSEARCH_PASSWORD:}

  # Disable Spring Data Elasticsearch repositories unless explicitly enabled.
  data:
    elasticsearch:
      repositories:
        enabled: ${ELASTICSEARCH_ENABLED:false}


springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui

notification:
  processor:
    interval: ${NOTIFICATION_PROCESSOR_INTERVAL:10000}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
    info:
      enabled: true
  info:
    build:
      enabled: true
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true

info:
  app:
    name: ${spring.application.name}
    description: Spring Boot Backend Application
    version: @project.version@
