spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:h2:mem:e2edb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:db/e2e
    placeholders:
      json_type: JSON

  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:false}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS_ENABLE:false}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: mock
  data:
    elasticsearch:
      repositories:
        enabled: false

server:
  port: ${SERVER_PORT:8080}

outbound:
  worker:
    enabled: false

management:
  health:
    mail:
      enabled: false
    redis:
      enabled: false
    elasticsearch:
      enabled: false

logging:
  level:
    root: INFO
    com.example.backend: INFO
    org.flywaydb: DEBUG
