.re-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
}

.re-icon :deep(svg) {
  width: 100%;
  height: 100%;
  display: block;
}

.re-icon-small {
  width: 16px;
  height: 16px;
}

.re-icon-medium {
  width: 24px;
  height: 24px;
}

.re-icon-large {
  width: 32px;
  height: 32px;
}

.re-icon-xlarge {
  width: 48px;
  height: 48px;
}
